body {
	background: linear-gradient(beige,white);
	background-size: cover;
	background-repeat: no-repeat;
}

#title {
	text-align: center;
	font-family: helvetica;
	font-size: 2em;

}

.menuItems {
	display: inline-block;
	padding-left: 7%;
	padding-right: 7%;
}

.menuItemsLinks {
	text-decoration: none;
	color: black;
}

#menuBarBackground{
	border-style: solid;
	border-width: : thin;
	border-radius: 10px;
	height: 3em;
	width: 80%;
	background-color: white;
	position: relative;
	left: 50%;
	transform: translate(-50%,0%);
}